<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <form method="POST">
        <h1>Hangman</h1>
        <h2>Choose a difficulty</h2>
        <input type="radio" name="difficulty" value="1" id="easy">
        <label for="easy">Easy</label>
        <input type="radio" name="difficulty" value="2" id="medium">
        <label for="medium">Medium</label>
        <input type="radio" name="difficulty" value="3" id="hard">
        <label for="hard">Hard</label>
        <input type="submit" value="Start">
    </form>
</body>

</html>